<section id="contact" class="py-5 bg-light">
    <div class="container">

        <h2 class="titre-header fw-bold mb-5 text-center">Contact</h2>

        <div class="row g-5">

            <div class="col-12 col-md-6 align-self-center">
                <img src="assets/images/photo_fc_ste_foy_2021_2022.jpg" alt="image du FC Ste-Foy de la saison 2021-2022" class="w-100" />
            </div>

            <div class="col-12 col-md-6">
                <form class="row">
                    <div class="col-12 my-2">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.901850922737!2d4.7861847753025!3d45.73306311546088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ebfb8e2848e9%3A0xd73b03e5f059bf66!2s16%20All.%20Alban%20Vistel%2C%2069110%20Sainte-Foy-l%C3%A8s-Lyon!5e0!3m2!1sfr!2sfr!4v1682090820483!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-12 my-2">
                        <label for="email" class="form-label">Adresse e-mail</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Votre email">
                    </div>

                    <div class="col-12 my-2">
                        <label for="message" class="form-label">Message</label>
                        <textarea name="message" class="form-control" id="message" rows="3" placeholder="Votre message"></textarea>
                    </div>

                    <div class="col-12 my-2">
                        <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>