<section id="plateaux" class="py-5">
    <div class="container">

        <h2 class="titre-header fw-bold mb-5 text-center">Les plateaux</h2>

        <p>Les plateaux ont lieu le samedi. Sur gazon, les matchs se jouent en 7 contre 7 et durent 20 minutes tandis qu'en salle, ils se jouent en 5 contre 5 et durent 10 minutes.</p>

        <h3 class="mt-4 mb-3">Statistiques et records du club</h3>

        <!-- Début Statistiques -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statistiques_Modal">
            Statistiques
        </button>

        <div class="modal fade text-dark" id="statistiques_Modal" tabindex="-1" aria-labelledby="statistiques_ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title" id="statistiques_ModalLabel">Statistiques</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <h2 class="mb-3">Sur gazon</h2>
                        <p>Rencontres : 15</p>
                        <p>Victoires : 6</p>
                        <p>Nuls : 1</p>
                        <p>Défaites : 8</p>
                        <p>Buts marqués : 33</p>
                        <p>Buts encaissés : 43</p>
                        <p>Différence de buts : -10</p>
                        <p>Invincibilité : 4</p>
                        <p>Plus large victoire :</p>
                        <ul>
                            <li>AS Écully B - FC Ste-Foy : 1-7 (29/04/2023)</li>
                            <li>FC Pays Viennois - FC Ste-Foy : 1-7 (29/04/2023)</li>
                            <li>AS Écully B - FC Ste-Foy : 1-7 (21/10/2023)</li>
                        </ul>
                        <p>Plus large défaite : FC Ste-Foy - ES Chaponost B : 0-9 (04/02/2023)</p>

                        <h2 class="mt-4 mb-3">En salle</h2>
                        <p>Rencontres : 11</p>
                        <p>Victoires : 5</p>
                        <p>Nuls : 1</p>
                        <p>Défaites : 5</p>
                        <p>Buts marqués : 22</p>
                        <p>Buts encaissés : 14</p>
                        <p>Différence de buts : +8</p>
                        <p>Invincibilité : 3</p>
                        <p>Plus large victoire :</p>
                        <ul>
                            <li>FC Ste-Foy - FC Sud-Ouest 69 : 6-0 (02/12/2023)</li>
                            <li>FC Villefranche B - FC Ste-Foy : 1-7 (20/01/2024)</li>
                        </ul>
                        <p>Plus large défaite : FC Sud-Ouest 69 - FC Ste-Foy : 3-0 (20/01/2024)</p>

                    </div>

                </div>
            </div>
        </div>
        <!-- Fin Statistiques -->

        <!-- Début Records -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#records_Modal">
            Records
        </button>

        <div class="modal fade text-dark" id="records_Modal" tabindex="-1" aria-labelledby="records_ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="records_ModalLabel">Records</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h4 class="mb-3">Sur gazon</h4>
                        <p>Joueur le plus capé :</p>
                        <ul>
                            <li>Damien</li>
                        </ul>
                        <p>15 matchs</p>
                        <p class="mt-4">Meilleur buteur :</p>
                        <ul>
                            <li>Pierre</li>
                        </ul>
                        <p>10 buts</p>

                        <h4 class="mt-4 mb-3">En salle</h4>
                        <p>Joueur le plus capé :</p>
                        <ul>
                            <li>Damien</li>
                            <li>Kévin</li>
                            <li>Morgan</li>
                        </ul>
                        <p>11 matchs</p>
                        <p class="mt-4">Meilleur buteur :</p>
                        <ul>
                            <li>Redha</li>
                        </ul>
                        <p>7 buts</p>

                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Records -->

        <div id="resultats_plateaux" class="row gy-4 mt-4">
            <h3>Liste des plateaux</h3>

            {% for event in events %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="assets/images/{{ event.category }}_{{ event.date }}_ensemble.jpg" class="card-img-top" alt="image d'ensemble du (des) {{ event.category }} du {{ event.date }}">

                        <div class="card-body">
                            <h5 class="card-title"><span class="text-capitalize">{{ event.type }}</span> du {{ event.date }}</h5>
                            <p class="card-text">Type : {{ event.type }}<br/>Date : {{ event.date }}<br/>Lieu : {{ event.place }} ({{ event.city }})</p>
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ event.id }}_event_Modal">Résultats</a>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade text-dark" id="{{ event.id }}_event_Modal" tabindex="-1" aria-labelledby="{{ event.id }}_event_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="{{ event.id }}_event_ModalLabel"><span class="text-capitalize">{{ event.type }}</span> {{ event.pitchType }} du {{ event.date }} à {{ event.city }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div id="{{ event.id }}_event_content" class="modal-body">
                                {% for group in event.groups %}
                                    <table class="border border-dark text-center w-100">
                                        <thead>
                                            <tr>
                                                <th class="p-1 border border-dark">Équipe A</th>
                                                <th class="p-1 border border-dark">Score</th>
                                                <th class="p-1 border border-dark">Équipe B</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for match in matches | match_filter(event.id, group) %}
                                                <tr>
                                                    <td class="p-1 border border-dark">{{ match.teamA.name }}</td>
                                                    <td class="p-1 border border-dark">{{ match.teamA.score }} - {{ match.teamB.score }}</td>
                                                    <td class="p-1 border border-dark">{{ match.teamB.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>


<!--
// Start Create Ranking
function inverseLetter(letter) {
	return letter === 'A' ? 'B' : 'A';
}


function getTeamRecap(letter, match) {
	const teamRecap = {
		name: match[`team${letter}`],
		matches: 1,
		victories: match[`score${letter}`] > match[`score${inverseLetter(letter)}`] ? 1 : 0,
		draws: match[`score${letter}`] === match[`score${inverseLetter(letter)}`] ? 1 : 0,
		defeats: match[`score${letter}`] < match[`score${inverseLetter(letter)}`] ? 1 : 0,
		goalsFor: match[`score${letter}`],
		goalsAgainst: match[`score${inverseLetter(letter)}`],
	}

	teamRecap.points = teamRecap.victories * 3 + teamRecap.draws;
  	teamRecap.goalDifference = teamRecap.goalsFor - teamRecap.goalsAgainst;

	return teamRecap;
}


function calculateRanking(matches) {
	let recaps = [];
	matches.forEach((match) => {
		recaps.push(getTeamRecap('A', match));
		recaps.push(getTeamRecap('B', match));
	});

	let teams = recaps.reduce((accumulator, match) => {
		let recap = accumulator.find((recap) => recap.name === match.name);

		if (!recap) {
			accumulator.push(match);
		}
		else {
			recap.points += match.points;
			recap.matches += match.matches;
			recap.victories += match.victories;
			recap.draws += match.draws;
			recap.defeats += match.defeats;
			recap.goalsFor += match.goalsFor;
			recap.goalsAgainst += match.goalsAgainst;
  			recap.goalDifference = recap.goalsFor - recap.goalsAgainst;
		}

		return accumulator;
	}, []);

	teams.sort((a, b) => {
		return a.points < b.points ? 1 : a.points > b.points ? -1 :
			(a.goalsFor - a.goalsAgainst) < (b.goalsFor - b.goalsAgainst) ? 1 :
			(a.goalsFor - a.goalsAgainst) > (b.goalsFor - b.goalsAgainst) ? -1 :
			a.goalsFor < b.goalsFor ? 1 : a.goalsFor > b.goalsFor ? -1 : 0;
	});

	return teams;
}
// End Create Ranking
-->