<section id="plateaux" class="py-5">
    <div class="container">

        <h2 class="titre-header fw-bold mb-5 text-center">Les plateaux</h2>

        <p>Les plateaux ont lieu le samedi. Sur gazon, les matchs se jouent en 7 contre 7 et durent 20 minutes tandis qu'en salle, ils se jouent en 5 contre 5 et durent 10 minutes.</p><br /><br />

        <h3 class="mb-3">Statistiques et records du club</h3>

        <!-- Début Statistiques -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statistiques_Modal">
            Statistiques
        </button>

        <div class="modal fade text-dark" id="statistiques_Modal" tabindex="-1" aria-labelledby="statistiques_ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title" id="statistiques_ModalLabel">Statistiques</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <h2 class="mb-3">Sur gazon</h2>
                        <p>Rencontres : 15</p>
                        <p>Victoires : 6</p>
                        <p>Nuls : 1</p>
                        <p>Défaites : 8</p>
                        <p>Buts marqués : 33</p>
                        <p>Buts encaissés : 43</p>
                        <p>Différence de buts : -10</p>
                        <p>Invincibilité : 4</p>
                        <p>Plus large victoire :</p>
                        <ul>
                            <li>AS Écully B - FC Ste-Foy : 1-7 (29/04/2023)</li>
                            <li>FC Pays Viennois - FC Ste-Foy : 1-7 (29/04/2023)</li>
                            <li>AS Écully B - FC Ste-Foy : 1-7 (21/10/2023)</li>
                        </ul>
                        <p>Plus large défaite : FC Ste-Foy - ES Chaponost B : 0-9 (04/02/2023)</p>

                        <h2 class="mt-4 mb-3">En salle</h2>
                        <p>Rencontres : 11</p>
                        <p>Victoires : 5</p>
                        <p>Nuls : 1</p>
                        <p>Défaites : 5</p>
                        <p>Buts marqués : 22</p>
                        <p>Buts encaissés : 14</p>
                        <p>Différence de buts : +8</p>
                        <p>Invincibilité : 3</p>
                        <p>Plus large victoire :</p>
                        <ul>
                            <li>FC Ste-Foy - FC Sud-Ouest 69 : 6-0 (02/12/2023)</li>
                            <li>FC Villefranche B - FC Ste-Foy : 1-7 (20/01/2024)</li>
                        </ul>
                        <p>Plus large défaite : FC Sud-Ouest 69 - FC Ste-Foy : 3-0 (20/01/2024)</p>

                    </div>

                </div>
            </div>
        </div>
        <!-- Fin Statistiques -->

        <!-- Début Records -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#records_Modal">
            Records
        </button>

        <div class="modal fade text-dark" id="records_Modal" tabindex="-1" aria-labelledby="records_ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h3 class="modal-title" id="records_ModalLabel">Records</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <h4 class="mb-3">Sur gazon</h4>
                        <p>Joueur le plus capé :</p>
                        <ul>
                            <li>Damien</li>
                        </ul>
                        <p>15 matchs</p>
                        <p class="mt-4">Meilleur buteur :</p>
                        <ul>
                            <li>Pierre</li>
                        </ul>
                        <p>10 buts</p>

                        <h4 class="mt-4 mb-3">En salle</h4>
                        <p>Joueur le plus capé :</p>
                        <ul>
                            <li>Damien</li>
                            <li>Kévin</li>
                            <li>Morgan</li>
                        </ul>
                        <p>11 matchs</p>
                        <p class="mt-4">Meilleur buteur :</p>
                        <ul>
                            <li>Redha</li>
                        </ul>
                        <p>7 buts</p>

                    </div>

                </div>
            </div>
        </div>
        <!-- Fin Records -->

        <div id="resultats_plateaux" class="row gy-4 mt-4">

            <h3>Liste des plateaux</h3>

        </div>

    </div>

</section>