<hgroup id="titre" class="py-5 text-center">
    <div class="container">
        <h1 class="titre-header text-uppercase fw-bold mb-5">Football Adapté à Sainte-Foy-lès-Lyon</h1>
        <p class="fs-4">Plaisir, Partage, Progrès</p>
        <img src="assets/images/terrain_2_fc_ste_foy.jpg" class="w-75 mt-5" />
    </div>
</hgroup>