<section id="histoire" class="py-5 bg-light">
    <div class="container">
        <div class="row g-5">

            <h2 class="titre-header fw-bold text-center">Un peu d'histoire</h2>

            <div class="col-12 col-md-6">
                <h3 class="mb-3">Description</h3>
                <p>Le Football Club de Sainte-Foy-lès-Lyon a été fondé en 1997. Une section adaptée existe depuis l'été 2021. Elle est actuellement composé de 17 joueurs et 2 entraîneurs. Le football adapté est une variante du football dont les joueurs ont divers handicaps (cognitifs, mentaux et physiques tant qu'ils sont en capacité de jouer au football).</p>

                <h3 class="mt-4 mb-3">Saisons</h3>
                <ol>
                    <li>22/09/2021 ? - 22/06/2022 ?</li>
                    <li>21/09/2022 - 28/06/2023</li>
                    <li class="fw-bold">20/09/2023 - 26/06/2024 (en cours)</li>
                </ol>
            </div>

            <div class="col-12 col-md-6 align-self-center">
                <img src="assets/images/photo_fc_ste_foy_2023_2024.jpg" alt="image du FC Ste-Foy de la saison 2023-2024" class="w-100" />
                <img src="assets/images/photo_fc_ste_foy_2022_2023.jpg" alt="image du FC Ste-Foy de la saison 2022-2023" class="w-100 mt-5" />
            </div>

        </div>
    </div>
</section>