<section id="classements" class="py-5 bg-light">
    <div class="container">
        <h2 class="titre-header fw-bold mb-5 text-center">Les classements</h2>
        
        <div id="classements_joueurs">
            <h3 class="mb-4">Classements des joueurs</h3>

            {% include 'rankings/scorers.njk' %}
            {% include 'rankings/goalkeepers.njk' %}
        </div>
    </div>
</section>