<table class="border border-dark text-center w-100">
    <thead>
        <tr>
            <th class="p-1">N°</th>
            <th class="p-1">Prénom</th>
            <th class="p-1">Période</th>
        </tr>
    </thead>

    {% set used_labels = [] %}
    {% for status in statuses %}
        {% for position in positions %}
            {% if status.label === "ancien" %}
                {% set colors = status %}
            {% else %}
                {% set colors = position %}
            {% endif %}

            <tbody id="{{ colors.label }}" class="text-{{ colors.textColor }} bg-{{ colors.bgColor }}">
                {% if colors.label not in used_labels %}
                    <tr>
                        <th class="p-3 text-capitalize" colspan="3">
                            {% if position.label !== null %}
                                {{ colors.label }}
                            {% else %}
                                Inconnu
                            {% endif %}
                        </th>
                    </tr>
                    {% set used_labels = (used_labels.push(colors.label), used_labels) %}
                {% endif %}

                {% for player in players | sort_by("number") | players_filter(status.label, position.label) %}
                    <tr>
                        <td class="p-1">{{ player.number }}</td>
                        <td class="p-1">{{ player.firstname }}</td>
                        <td class="p-1">{{ player.entersAt }} - {{ player.exitsAt }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    {% endfor %}
</table>