<table class="border border-dark text-center w-100">
    <thead>
        <tr>
            <th class="p-1">N°</th>
            <th class="p-1">Prénom</th>
            <th class="p-1">Période</th>
        </tr>
    </thead>
    
    {% for player in players | sort_by('position') %}
    <tr>
        <td class="p-1">{{ player.number }}</td>
        <td class="p-1">{{ player.firstname }}</td>
        <td class="p-1">{{ player.entersAt }} - {{ player.exitsAt }}</td>
    </tr>
    {% endfor %}
</table>

    <!--
    <tbody id="gardiens" class="text-white bg-secondary">
        <tr>
            <th class="p-3" colspan="3">Gardiens</th>
        </tr>
    </tbody>

    <tbody id="defenseurs" class="text-white bg-primary">
        <tr>
            <th class="p-3" colspan="3">Défenseurs</th>
        </tr>
    </tbody>

    <tbody id="milieux" class="bg-warning">
        <tr>
            <th class="p-3" colspan="3">Milieux</th>
        </tr>
    </tbody>

    <tbody id="attaquants" class="text-white bg-danger">
        <tr>
            <th class="p-3" colspan="3">Attaquants</th>
        </tr>
    </tbody>

    <tbody id="inconnu">
        <tr>
            <th class="p-3" colspan="3">Inconnu</th>
        </tr>
    </tbody>

    <tbody id="anciens" class="text-white bg-dark">
        <tr>
            <th class="p-3" colspan="3">Anciens</th>
        </tr>
    </tbody>
    -->